[Unit]
Description=ahrensburg.city

[Service]
WorkingDirectory=/Server/
ExecStart=/Server/ahrensburg.city
Restart=always
# Ahrensburg.city
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=ahrensburg.city
User=root

[Install]
WantedBy=multi-user.target