<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Titel}}</title>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>

</head>
<body>
<script>hljs.highlightAll();</script>
<p><a href="index">Ubuntu</a> - <a href="Windows">Windows</a> - <a href="Lernen">Lernen</a> -<a href="Datenbank">Datenbank</a> <a href="Go">Go</a> - <a href="Rust">Rust</a> - <a href="Impressum">Impressum</a> - <a href="Datenschutzerklärung">Datenschutzerklärung</a></p>

