<!DOCTYPE html>
<html style="height:100%;margin:0;padding:0;">
<title>{{ .Titel}}</title>
<meta charset="utf-8">
<meta name="de">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="./static/Leaflet/leaflet.css" />
<script src="./static/Leaflet/leaflet.js"></script>
<style type="text/css">
    .leaflet-tile-container { pointer-events: auto; }
</style>
</head>
<body style="height:100%;margin:0;padding:0;">

<noscript>
    <h1>ahrensburg.city</h1>
    <p>Ahrensburg Kartendienst</p>
    <ul>
     <scheisse></scheisse>

    </ul>
</noscript>

<div id="map" style="height:100%"></div>
<script src="/javascript.js"></script>
</body>
</html>